<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card mt-3">
            <h3 class="card-header">Signup</h3>

            <div class="card-body">
                <form class="signup-form">
                    <div>
                        <label for="username-signup">Username:</label>
                        <input class="form-control" type="text" id="username-signup" />
                    </div>
                    <div>
                        <label for="password-signup">Password:</label>
                        <input class="form-control" type="password" id="password-signup" />
                    </div>
                    <div>
                        <button class="btn btn-success mt-2" type="submit">Signup</button>
                    </div>
                </form>
            </div>
        </div>

        <a class="btn btn-danger mt-3" href="/login">Need to log in instead?</a>
    </div>
</div>
